extends ../../views/layout

block content
  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='#') NIC Asset
          h6 Nawaloha Industrial

      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='/') Home234
        div(ng-include="'/app/account/navbar-login'")

        //.navbar-right
        //  form.navbar-form
        //    .form-group
        //      input.form-control(placeholder='username', ng-model='username')
        //    .form-group
        //      input.form-control(placeholder='****', ng-model='password',type='password')
        //    button.btn.btn-primary(ng-click='signin(username, password)') Sign in
  section.content
    div(ng-view)

  footer.container.text-center
    p &copy; 2015 Nawaloha Industry Co.,Ltd.


