.navbar-right(ng-controller='mvNavBarLoginCtrl')
  form.navbar-form(ng-hide="identity.isAuthenticated()")
    .form-group
      input.form-control(placeholder='username', ng-model='username')
    .form-group
      input.form-control(placeholder='****', ng-model='password',type='password')
    button.btn.btn-primary(ng-click='signin(username, password)') Sign in
  ul.nav.navbar-nav.navbar-right(ng-show='identity.isAuthenticated()')
    // whenuse drop down with bootstrap, must include bootstrap.js for working properly
    li.dropdown
      a.dropdown-toggle(href="", data-toggle="dropdown")
        | {{identity.currentUser.firstName+" "+identity.currentUser.lastName}}
        b.caret
      ul.dropdown-menu
        li
          a(href="", ng-click="signout()") Sign Out
